
.icon-plus:before { content: '\e802'; } /* '' */
.icon-chart-bar:before { content: '\e801'; } /* '' */
.icon-uni2139:before { content: '\e804'; } /* '' */
.icon-arrowleft:before { content: '\e805'; } /* '' */
.icon-arrowup:before { content: '\e806'; } /* '' */
.icon-arrowright:before { content: '\e807'; } /* '' */
.icon-arrowdown:before { content: '\e808'; } /* '' */
.icon-uni21C4:before { content: '\e809'; } /* '' */
.icon-uni25B4:before { content: '\e80b'; } /* '' */
.icon-uni25B8:before { content: '\e80c'; } /* '' */
.icon-uni25BE:before { content: '\e80d'; } /* '' */
.icon-uni25C2:before { content: '\e80e'; } /* '' */
.icon-uni2605:before { content: '\e80f'; } /* '' */
.icon-uni2606:before { content: '\e810'; } /* '' */
.icon-uni2630:before { content: '\e820'; } /* '' */
.icon-uni268F:before { content: '\e81c'; } /* '' */
.icon-uni2691:before { content: '\e81b'; } /* '' */
.icon-uni2699:before { content: '\e81a'; } /* '' */
.icon-uni26A0:before { content: '\e819'; } /* '' */
.icon-uni2709:before { content: '\e818'; } /* '' */
.icon-uni270D:before { content: '\e817'; } /* '' */
.icon-uni270E:before { content: '\e816'; } /* '' */
.icon-uni2713:before { content: '\e815'; } /* '' */
.icon-uni2715:before { content: '\e814'; } /* '' */
.icon-uni2716:before { content: '\e813'; } /* '' */
.icon-uni2753:before { content: '\e812'; } /* '' */
.icon-uni2795:before { content: '\e811'; } /* '' */
.icon-uni2796:before { content: '\e81d'; } /* '' */
.icon-uni27A1:before { content: '\e81e'; } /* '' */
.icon-uni27A6:before { content: '\e81f'; } /* '' */
.icon-uni27F3:before { content: '\e821'; } /* '' */
.icon-uni2B05:before { content: '\e822'; } /* '' */
.icon-uni2B06:before { content: '\e823'; } /* '' */
.icon-uni2B07:before { content: '\e824'; } /* '' */
.icon-uniE4AD:before { content: '\e825'; } /* '' */
.icon-uniE4AE:before { content: '\e826'; } /* '' */
.icon-uniE4AF:before { content: '\e827'; } /* '' */
.icon-uniE4B0:before { content: '\e828'; } /* '' */
.icon-uniE700:before { content: '\e829'; } /* '' */
.icon-uniE704:before { content: '\e82a'; } /* '' */
.icon-uniE705:before { content: '\e82b'; } /* '' */
.icon-uniE706:before { content: '\e82c'; } /* '' */
.icon-hyphen:before { content: '\e803'; } /* '' */
.icon-uniE70C:before { content: '\e83d'; } /* '' */
.icon-uniE711:before { content: '\e83c'; } /* '' */
.icon-uniE712:before { content: '\e83b'; } /* '' */
.icon-uniE715:before { content: '\e83a'; } /* '' */
.icon-uniE716:before { content: '\e839'; } /* '' */
.icon-uniE717:before { content: '\e838'; } /* '' */
.icon-uniE718:before { content: '\e837'; } /* '' */
.icon-uniE722:before { content: '\e836'; } /* '' */
.icon-uniE724:before { content: '\e835'; } /* '' */
.icon-uniE729:before { content: '\e833'; } /* '' */
.icon-uniE744:before { content: '\e834'; } /* '' */
.icon-uniE746:before { content: '\e832'; } /* '' */
.icon-uniE75C:before { content: '\e831'; } /* '' */
.icon-uniE75D:before { content: '\e830'; } /* '' */
.icon-uniE75E:before { content: '\e82f'; } /* '' */
.icon-uniE75F:before { content: '\e82e'; } /* '' */
.icon-uniE760:before { content: '\e83e'; } /* '' */
.icon-uniE7A2:before { content: '\e83f'; } /* '' */
.icon-uniE800:before { content: '\e840'; } /* '' */
.icon-uniE801:before { content: '\e841'; } /* '' */
.icon-uniE802:before { content: '\e842'; } /* '' */
.icon-u1F464:before { content: '\e843'; } /* '' */
.icon-u1F465:before { content: '\e844'; } /* '' */
.icon-u1F4BB:before { content: '\e845'; } /* '' */
.icon-u1F4C1:before { content: '\e80a'; } /* '' */
.icon-u1F4C4:before { content: '\e846'; } /* '' */
.icon-u1F4C5:before { content: '\e847'; } /* '' */
.icon-u1F4C8:before { content: '\e848'; } /* '' */
.icon-u1F4CE:before { content: '\e849'; } /* '' */
.icon-u1F4E4:before { content: '\e84a'; } /* '' */
.icon-u1F4E5:before { content: '\e84b'; } /* '' */
.icon-u1F4F1:before { content: '\e84c'; } /* '' */
.icon-u1F4F7:before { content: '\e84d'; } /* '' */
.icon-u1F512:before { content: '\e84e'; } /* '' */
.icon-u1F513:before { content: '\e84f'; } /* '' */
.icon-u1F514:before { content: '\e850'; } /* '' */
.icon-u1F517:before { content: '\e851'; } /* '' */
.icon-u1F554:before { content: '\e852'; } /* '' */
.icon-u1F6AB:before { content: '\e853'; } /* '' */
.icon-dollar:before { content: '\e800'; } /* '' */
.icon-uniE70A:before { content: '\e82d'; } /* '' */